@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body{
  background-color: pink;
  font-family: 'Questrial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1{
  color: white;
}

.screen{
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.controls{
  width: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

.controls .fa-play{
  color: #fff;
}

.controls .fa-stop{
  color: #fff;
}

.controls .fa-pause{
  color: #fff;
}

.controls .timestamp{
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

.btn:focus{
  outline: 0;
}

.controls-two{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}

.fullScreen{
  color: white;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.fullScreen:focus{
  outline: 0;
}

/* .volume{
  position:relative;
  cursor:pointer;
  width: 10%;
  height:20px;
  float:left;
  margin-top:10px;
  margin-right:10px;
  background-color:#000;
}

.volumeBar{
  width: 10%;
  display:block;
  height:20px;
  top:0;
  left:0;
  background-color:#888;
  z-index:10;
} */

@media(max-width: 800px) {
  .screen, .controls {
    width: 90%;
  }
}